{# empty Twig template #}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="{{path('homme')}}">Home</a>
    </li>
 
      <li class="nav-item">
      <a class="nav-link" href="{{path('sonata_admin_dashboard')}}">Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{path('api_entrypoint')}}">Api</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="{{path('gestion_schema')}}">Génération de Champs</a>
    </li>
  </ul>
</nav>